.top_games_item {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  background-color: #102130;
  width: 100%;
  border-radius: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top_games_item_title {
  color: #fff;
  font-family: oswald;
  font-weight: 700;
  font-size: 3rem;
  margin: 500px 0 1.5rem 2rem;
}

.top_games_item_button {
  margin: 0 0 1rem 2rem;
}

.top_games_item_filter {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 0 0 2rem;
}

.top_games_item_platform {
  background-color: #102130;
  color: #fff;
  border-radius: 15px;
  border: #ffe81e 1px solid;
  padding: 16px;
}

.top_games_item_genre {
  background-color: #102130;
  color: #fff;
  border-radius: 15px;
  border: #ffe81e 1px solid;
  padding: 11px;
  font-family: oswald;
  font-weight: 500;
  align-items: baseline;
}
