@font-face {
  font-family: Oswald;
  src: url(../../../assets/fonts/Oswald/Oswald-VariableFont_wght.ttf);
}

.recently-added {
  background-color: #040F14;
  color: white;
  font-family: Oswald;

  width: 1440px;

  .hero {
    background-color: #040F14;
    padding-top: 60px;
    padding-left: 90px;

    .hero_div {
      background-image: url(../../../assets/img/background_recentlyadded.png);
      background-repeat: no-repeat;
      border-radius: 24px;
      width: 1318px;
      height: 491px;

      margin-bottom: 110px;
    }

    h1 {
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
      padding-left: 180px;
      padding-top: 400px;
      text-transform: uppercase;
    }
  }

  .grid_div {
    margin-left: 74px;
  }
}