.div {
border: 1px solid red;
    background-color: #102130;
    border-radius: 15px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 12px;

    padding: 0px 12px 24px 12px;
    width: 285px;

    .inputs {
border: 1px solid green;
        background-color: #375470;
        border-radius: 12px;

        padding: 12px 24px;
    }
    .label {
border: 1px solid violet;
    }
}
.inputs[type=checkbox] {
    border: 1px solid blue;
}