.div {
    background-color: #102130;
    border-radius: 15px;
    display: flex;
    gap: 12px;
    margin-inline: auto;
    width: 285px;
    font-size: 1.125rem;
    align-items: center;
    padding-block: 12px;
    padding-left: 24px;
    background-color: #375470;
    &:nth-of-type(1) {
        margin-top: 18px;
    }
    &:last-of-type{
        margin-bottom: 24px;
    }
}
