.top_games_item_next {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  background-color: #102130;
  width: 100%;
  height: 240px;
  border-radius: 25px;
}

.top_games_item_next_img {
  width: 60%;
  height: 100%;
  border-radius: 25px;
}

.top_games_item_next_title {
  color: #fff;
  font-family: oswald;
  font-weight: 700;
  font-size: 1.2rem;
  margin: 4rem 0 1rem 2rem;
}

.top_games_item_next_button {
  margin: 0 0 1rem 2rem;
}

.top_games_item_next_filter {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 0 0 2rem;
}

.top_games_item_next_platform {
  color: #fff;
  border-radius: 15px;
  border: #ffe81e 1px solid;
  padding: 16px;
}

.top_games_item_next_genre {
  color: #fff;
  border-radius: 15px;
  border: #ffe81e 1px solid;
  padding: 11px;
  font-family: oswald;
  font-weight: 500;
  align-items: baseline;
}
