.nav {
  background-color: #040f14;
  height: 100%;
  max-width: 5vw;
  position: fixed;
}

.nav_icons {
  display: flex;
  align-items: center;
  height: 100%;

  div {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: auto;
  }
}

.nav_icons_home:active {
  background-color: #ffe81e;
  border-radius: 15px;
}
