.nav {
  background-color: #040f14;
  height: 100%;
  width: 5vw;
  position: fixed;
  transition: 0.5s;
}

.nav_icons {
  display: flex;
  align-items: center;
  height: 100%;

  div {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: auto;

    img:hover {
      background-color: hsla(54, 100%, 56%, 0.253);
      border-radius: 15px;
    }
  }
}

.active {
  background-color: #ffe81e;
  border-radius: 15px;
}

.nav_icons_inactive {
}
