.collapsable{
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #ffe81e;
  padding: 5px;
  border-radius: 10px;
  display: flex;

  &:hover {
    cursor: pointer;
  }
}

.collapsable_wrapper{
  background-color: #102130;
  margin-top: 96px;
}

.v{
  transform: rotate(180deg);
}

.collapsable_items{
  position: relative;
}

.layout_wrapper{
  display: flex;
  flex-direction: column;
  background-color: #102130;
  row-gap: 12px;
  width: 100%;
  border-radius: 12px;
  position: absolute;
}