.collapsable{
  // color: white;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #ffe81e;
  padding: 5px;
  border-radius: 10px;
  display: flex;
}

.collapsable_wrapper{
  display: flex;
  flex-direction: column;
  background-color: #102130;
  margin-top: 96px;
  // padding-bottom: 24px;
  border-radius: 12px;
}

.v{
  transform: rotate(180deg);
}

.collapsable_items{
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}