.div {
  border-radius: 15px;
  display: flex;
  gap: 12px;
  margin-inline: auto;
  width: 285px;
  font-size: 1.125rem;
  align-items: center;
  padding-block: 12px;
  padding-left: 24px;
  background-color: #375470;
  &:nth-of-type(1) {
    margin-top: 18px;
  }
  &:last-of-type{
    margin-bottom: 24px;
  }

  input,
  label {
    &:hover {
      cursor: pointer;
    }
  }
}

.collapsable_items{
  border-radius: 12px;
  background-color: #102130;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  position: absolute;
}

.layout_wrapper{
  position: relative;
}